@model TravelManager.Models.ListPacotesTuristico

<h3>Listagem Pacotes Turisticos </h3>
<table class="table table-hover table-bordered">
    <tr>
        <th>Nome</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Atrativos</th>
        <th>Saída</th>
        <th>Retorno</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    @foreach (var pacoteTuristico in Model.PacotesTuristicos)
    {
<tr>
    <td>@pacoteTuristico.Nome</td>
    <td>@pacoteTuristico.Origem</td>
    <td>@pacoteTuristico.Destino</td>
    <td>@pacoteTuristico.Atrativos</td>
    <td>@string.Format("{0:dd/MM/yyyy}", pacoteTuristico.Saida)</td>
    <td>@string.Format("{0:dd/MM/yyyy}", pacoteTuristico.Retorno)</td>
    <td class="text-center"><a class="nav-link text-dark" asp-area="" asp-controller="PacoteTuristico" asp-action="Editar" asp-route-id="@pacoteTuristico.Id">Editar</a></td>
    <td class="text-center"><a class="nav-link text-dark" asp-area="" asp-controller="PacoteTuristico" asp-action="Excluir" asp-route-id="@pacoteTuristico.Id">Excluir</a></td>
</tr>
    }
    @if (Model.PacotesTuristicos.Count == 0)
    {
        <tr>
            <td class="text-center" colspan="10">Nenhum Pacote Cadastrado. </td>
        </tr>
    }


</table>
<a class="btn btn-dark" style="margin-top:15px;" asp-area="" asp-controller="PacoteTuristico" asp-action="NovoPacote">Novo Pacote Turistico</a>